@model SysLibrary.WebApp.Models.UsuarioViewModel
@{
    ViewBag.Title = "Deletar";
}


<h3>Deseja realmente excluir esse usuário?</h3>
<div>
    <hr />


    <h3>@Html.DisplayFor(x => x.Usuario.Nome)</h3>


    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary" })
        </div>
    }
</div>

