@model List<SysLibrary.Entities.Usuario>

<table>
    <thead>

    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Nome</td>
                <td><a href="url#/@e.Id">Visualizar</a></td>
            </tr>
        }
    </tbody>
</table>