<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- favorites Tab -->
  <ion-tab title="Favorites" nav-transition="ios" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/collection/favorites">
    <ion-nav-view name="collection-favorites"></ion-nav-view>
  </ion-tab>

  <!-- books Tab -->
  <ion-tab title="Books" nav-transition="ios" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/collection/books">
    <ion-nav-view name="collection-books"></ion-nav-view>
  </ion-tab>

  <!-- locates Tab -->
  <ion-tab title="Account" nav-transition="ios" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/collection/account">
    <ion-nav-view name="collection-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
